input:not(input[type=submit]),
form select,
form textarea {
  &:hover,
  &:active {
    border-color: #23242c;
    border-radius: 7px;
  }
}
select {
  padding-top: 9px;
  padding-bottom: 9px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  background-image: url('../img/arrow-select.svg');
  background-repeat: no-repeat;
  background-size: 20px 12px;
  background-position: 260px 14px;
}
.search-form .head-card:not(.head-card:first-child)  {
  margin-top: 33px;
  margin-bottom: 0;
}
.search-form .head-card:first-child {
  margin-bottom: 0;
}
.search-form select {
  margin-top: 20px;
  width: 100%;
  padding: 13px 16px;
  margin-bottom: 25px;
  font-size: 15px;
  color: #8f9bb3;
  border-radius: 4px;
  background-position: 205px 18px;
}
.search-form {
  padding-bottom: 80px;
}
.checkbox-wrapper {
  display: flex;
  flex-direction: column;
}
input[type=checkbox] {
  transform: scale(1.8);
  margin-right: 15px;
  margin-left: 5px;
}
.control-label {
  line-height: 25px;
  cursor: pointer;
}
.control-label input[type=checkbox] {
  margin-top: 20px;
}

.regular-form {
  margin-top: 55px;
  padding: 30px 40px;
  background-color: #f5f5f6;
  border-radius: 24px;
  width: 664px;
  font-size: 16px;
  & .head-main {
    margin-top: 5px;
    margin-bottom: 30px;
  }
  & .form-group {
    display: flex;
    flex-direction: column;
  }
  & .control-label {
    font-weight: 700;
    margin-bottom: 10px;
    color: #989898;
    font-size: 16px;
  }
  & input,
  & select,
  & textarea {
    padding: 9px;
    border-radius: 7px;
    border: solid 2px #989898;
  }
}

.half-wrapper {
  display: flex;
  justify-content: space-between;
}
.form-label {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 700;
  color: #989898;
}
input[type=date] {
  height: 20px;
}

.registration-form {
  padding-bottom: 122px;

  .half-wrapper input, .half-wrapper select {
    width: 295px;
  }
  select {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
.registration-form input {
  width: 642px;
}
.registration-form input[type=checkbox] {
  transform: scale(1.4);
  width: 18px;
  margin-left: 0;
}
.registration-form .checkbox-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  color: #05060f;
}

.photo-editing {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  & .button {
    font-size: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-left: 23px;
  }
}
.my-profile-form {
  width: 512px;
  margin-left: 180px;
  & h3 {
    margin-top: 30px;
  }
  & .control-label {
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 3px;
    color: #989898;
    font-size: 16px;
  }
  & .form-group {
    display: flex;
    flex-direction: column;
  }
  & input,
  & textarea {
    padding: 9px;
    border-radius: 7px;
    border: solid 2px #989898;
  }
  & textarea {
    min-width: 490px;
    max-width: 490px;
    min-height: 130px;
  }
  & img {
    border-radius: 4px;
  }
}
.my-profile-form input[type=email],
.my-profile-form input[type=tel] {
  width: 277px;
}
.my-profile-form input[type=date],
.my-profile-form .half-wrapper input[type=text] {
  width: 170px;
}
.my-profile-form .checkbox-profile .control-label {
  display: inline-block;
  font-weight: 400;
  width: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.add-task-form {
  & select {
    background-position: 310px 14px;
    width: 344px;
  }
  & textarea {
    min-width: 642px;
    max-width: 642px;
    min-height: 108px;
  }
  & .half-wrapper {
    justify-content: flex-start;
  }
}
.add-task-form .half-wrapper input{
  width: 177px;
  margin-right: 50px;
}
.new-file {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 661px;
  height: 128px;
  border: 1px dashed #989898;
  border-radius: 7px;
  background-color: #ffffff;
  margin-top: 11px;
}
.add-file {
  font-size: 16px;
  color: #989898;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 48px;
    height: 53px;
    background-image: url("../img/upload-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    top: -59px;
    left: 57px;
  }
}

input[type=submit] {
  border: none;
  padding: 15px 43px;
  margin-top: 24px;
  font-size: 19px;
  width: 221px;
  display: inline-block;
  float: right;
}
.add-task-form input[type=submit] {
  width: 171px;
  padding: 15px 26px;
  margin-top: 29px;
}
.my-profile-form input[type=submit] {
  width: 193px;
  margin-top: 56px;
}
.search-form input[type=submit] {
  width: 171px;
}
.has-error  {
  & .help-block {
    visibility: visible;
  }
  & input,
  & select,
  & textarea {
    border-color: #fa6400;
  }
}
form .has-error {
  & input:hover,
  & select:hover,
  & textarea:hover {
    border-color: #fa6400;
  }
}

.help-block {
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #fa6400;
  visibility: hidden;
  min-height: 25px;
}
.location-icon {
  background-image: url('../img/location-icon.svg');
  background-repeat: no-repeat;
  background-size: 19px 24px;
  background-position: 630px 6px;
}
.budget-icon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  background-image: url('../img/rouble.svg');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: 160px 8px;
}