.search-form .head-card:not(.head-card:first-child)  {
  margin-top: 33px;
  margin-bottom: 0;
}
.search-form .head-card:first-child {
  margin-bottom: 0;
}
input[type=checkbox] {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
input[type=checkbox] ~ label {
  position: relative;
  display: inline-block;
  line-height: 25px;
  padding-left: 40px;
  margin-top: 20px;
  cursor: pointer;
}
input[type=checkbox] ~ label::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 3px;
}
input[type=checkbox]:checked ~ label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("/img/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
}
input[type=checkbox]:hover ~ label::before {
  background-color: #e5e5e5;
}
.search-form select {
  margin-top: 20px;
  width: 100%;
  padding: 13px 16px;
  margin-bottom: 50px;
  font-size: 15px;
  color: #8f9bb3;
}
.search-form .button {
  padding: 14px 57px;
  font-size: 19px;
  margin-left: 70px;
  margin-bottom: 0;
  border: none;
}
.registration-form {
  margin-top: 55px;
  padding: 30px 40px;
  background-color: #f5f5f6;
  width: 664px;
  font-size: 16px;
  & .head-main {
    margin-top: 5px;
    margin-bottom: 7px;
  }
  & .form-group {
    display: flex;
    flex-direction: column;
  }
  & .control-label {
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 27px;
    color: #989898;
    font-size: 16px;
  }
  & input,
  & select {
    padding: 9px;
    border-radius: 7px;
    border: solid 2px #989898;
    width: 293px;
  }
  & select {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
.registration-form .form-group input[type=text] {
  width: 642px;
}
.half-wrapper {
  display: flex;
  justify-content: space-between;
}
.registration-form input[type=checkbox] ~ label {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 32px;
  margin-bottom: 0;
  color: #05060f;
}
.registration-form input[type=checkbox] ~ label::before {
  width: 18px;
  height: 18px;
  background-color: #3366ff;
}
.registration-form input[type=checkbox]:checked ~ label::after {
  width: 18px;
  height: 18px;
  background-image: url("/img/checkmark-white.svg");
}
.registration-form input[type=button] {
  border: none;
  padding: 15px 43px;
  margin-top: 24px;
  font-size: 19px;
  width: 221px;
  margin-left: 440px;
}
.my-profile-form {
  margin-left: 180px;
  & h3 {
    margin-top: 30px;
  }
}
.photo-editing {
  display: flex;
  align-items: center;
  & .button {
    font-size: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-left: 23px;
  }
}
.form-label {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
  color: #989898;
}
.my-profile-form {
  width: 512px;
  & .control-label {
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 27px;
    color: #989898;
    font-size: 16px;
  }
  & input,
  & textarea {
    padding: 9px;
    border-radius: 7px;
    border: solid 2px #989898;
  }
  & textarea {
    min-height: 130px;
  }
}
.my-profile-form input[type=email],
.my-profile-form input[type=tel] {
  width: 277px;
}
.my-profile-form input[type=date],
.my-profile-form .half-wrapper input[type=text] {
  width: 170px;
}
.my-profile-form input[type=date] {
  height: 20px;
}
.my-profile-form .form-group {
  display: flex;
  flex-direction: column;
}
.my-profile-form input[type=checkbox] ~ label {
  font-weight: 400;
  width: 174px;
}
.my-profile-form input[type=checkbox] ~ label::before {
  background-color: #3366ff;
}
.my-profile-form input[type=checkbox]:checked ~ label::after {
  background-image: url("/img/checkmark-white-big.svg");
}
.my-profile-form input[type=button] {
  border: none;
  padding: 15px 43px;
  margin-top: 41px;
  font-size: 19px;
  width: 193px;
  display: inline-block;
  float: right;
}