.link {
  text-decoration: none;
}
.link--nav {
  display: flex;
  size: 21px;
  font-weight: 700;
  padding: 15px 30px;
  color: #989898;
}
.link--regular {
  font-size: 16px;
  color: #4c5cf0;
  &:hover {
    color: #23242c;
  }
}
.link--small {
  color: #777777;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.link--block {
  font-size: 16px;
  font-weight: 700;
  color: #4c5cf0;
  &:hover {
    text-decoration: underline;
  }
}
.button {
  display: inline-block;
  padding: 27px 25px;
  margin-bottom: 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}
.button--blue {
  background-color: #4d38f5;
  &:hover {
    background-color: #4130cc;
  }
}
.button--orange {
  background-color: #fa6400;
  &:hover {
    background-color: #f46200;
  }
}
.button--small {
  border-top-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 13px 35px;
  font-size: 19px;
}
.container {
  margin: 0 auto;
  width: 1220px;
  padding: 20px 30px;
}
.main-content {
  display: flex;
  justify-content: space-between;
}
.left-column {
  width: 725px;
}
.head-main {
  font-size: 30px;
  margin-bottom: 27px;
}
.head-regular {
  font-size: 24px;
  margin-top: 23px;
}
.head-wrapper {
  display: flex;
  justify-content: space-between;
}