.link {
  text-decoration: none;
}
.link--nav {
  display: flex;
  size: 21px;
  font-weight: 700;
  padding: 15px 30px;
  color: #989898;
}
.link--regular {
  font-size: 16px;
  color: #4c5cf0;
  &:hover {
    color: #23242c;
  }
}
.link--small {
  color: #777777;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.link--block {
  font-size: 16px;
  font-weight: 700;
  color: #4c5cf0;
  &:hover {
    text-decoration: underline;
  }
}
.container {
  margin: 0 auto;
  width: 1220px;
  padding: 20px 30px;
}
.main-content {
  display: flex;
  justify-content: space-between;
}
.left-column {
  width: 725px;
}
.head-main {
  font-size: 30px;
  margin-bottom: 27px;
}
.head-regular {
  font-size: 24px;
  margin-top: 23px;
}