.pop-up {
  width: 468px;
  padding: 20px;
  padding-bottom: 12px;
  background-color: #ffffff;
  position: fixed;
  top: 290px;
  z-index: 30;
  left: 50%;
  margin-left: -254px;
  display: flex;
  & h4 {
    text-transform: none;
    letter-spacing: normal;
    font-size: 24px;
    margin: 0;
    margin-bottom: 14px;
  }
}
.pop-up--wrapper {
  position: relative;
}
.pop-up-text {
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 16px;
}
.button--close {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
  font-size: 0;
  cursor: pointer;
}
.button--close:after {
  position: absolute;
  top: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c"; /* use the hex value here... */
  font-size: 15px;
  color: #000000;
  line-height: 15px;
  text-align: center;
}
.button-container {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
}
.completion-form {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 464px;
  & .control-label {
    margin-top: 0;
    cursor: auto;
  }
  & textarea {
    min-width: 444px;
    max-width: 444px;
    min-height: 96px;
  }
}
.pop-up--refusal {
  display: none;
}
.pop-up--completion {

}
.pop-up--addition {
  display: none;
}